In [22]:
import pandas as pd

In [23]:
dataset = pd.read_csv("Placement_Data_Full_Class.csv")

In [24]:
dataset = dataset.drop(columns='sl_no', axis=1)

In [25]:
dataset

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [26]:
dataset.columns

Index(['gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s', 'degree_p',
       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p', 'status',
       'salary'],
      dtype='object')

In [27]:
import numpy as np

In [28]:
np.percentile(dataset["ssc_p"], 10)

52.0

In [29]:
np.percentile(dataset["ssc_p"], 15)

55.0

In [30]:
np.percentile(dataset["ssc_p"], 50)

67.0

In [31]:
np.percentile(dataset["ssc_p"], 75)

75.7

In [32]:
np.percentile(dataset["ssc_p"], 100)

89.4

In [33]:
dataset.describe()

,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [49]:
type(dataset.describe())

pandas.core.frame.DataFrame

In [50]:
dataset_describe = dataset.describe()

In [34]:
#quan, qual = Univariate.quanQual(dataset)
def quanQual(dataset):
        quan = []
        qual = []
        for column_name in dataset.columns:
            if dataset[column_name].dtype == 'O':
                qual.append(column_name)
            else:
                quan.append(column_name)
        return quan, qual

In [35]:
quan, qual = quanQual(dataset)

In [36]:
quan

['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [47]:
descriptive = pd.DataFrame(columns=quan, index=['mean','median','mode', 'Q1:25%','Q2:50%', 'Q3:75%','Q4:100%'])
def percentile(dataset):
    for column_name in quan:
        descriptive [column_name]['mean'] = dataset[column_name].mean()
        descriptive [column_name]['median'] = dataset[column_name].median()
        descriptive [column_name]['mode'] = dataset[column_name].mode()[0]
        descriptive[column_name]['Q1:25%'] = np.percentile(dataset[column_name], 25)
        descriptive[column_name]['Q2:50%'] = np.percentile(dataset[column_name], 50)
        descriptive[column_name]['Q3:75%'] = np.percentile(dataset[column_name], 75)
        descriptive[column_name]['Q4:100%'] = np.percentile(dataset[column_name], 100)
    return descriptive

In [48]:
percentile(dataset)

             ssc_p      hsc_p   degree_p    etest_p      mba_p         salary
mean     67.303395  66.333163  66.370186  72.100558  62.278186  288655.405405
median        67.0       65.0       66.0       71.0       62.0       265000.0
mode          62.0       63.0       65.0       60.0       56.7       300000.0
Q1:25%        60.6       60.9       61.0       60.0     57.945            NaN
Q2:50%        67.0       65.0       66.0       71.0       62.0            NaN
Q3:75%        75.7       73.0       72.0       83.5     66.255            NaN
Q4:100%       89.4       97.7       91.0       98.0      77.89            NaN

In [66]:
# Here we have null values in salary so for now lets take describe value bccoz that returns DF
descriptive = pd.DataFrame(columns=quan, index=['mean','median','mode', 'Q1:25%','Q2:50%', 'Q3:75%','99%','Q4:100%'])
def percentil_with_describe(dataset):
    for column_name in quan:
        descriptive [column_name]['mean'] = dataset[column_name].mean()
        descriptive [column_name]['median'] = dataset[column_name].median()
        descriptive [column_name]['mode'] = dataset[column_name].mode()[0]
        descriptive[column_name]['Q1:25%'] = dataset_describe[column_name]["25%"]
        descriptive[column_name]['Q2:50%'] = dataset_describe[column_name]["50%"]
        descriptive[column_name]['Q3:75%'] = dataset_describe[column_name]["75%"]
        descriptive[column_name]['99%'] = np.percentile(dataset[column_name], 99)
        descriptive[column_name]['Q4:100%'] = dataset_describe[column_name]["max"]
    return descriptive

In [67]:
percentil_with_describe(dataset)

             ssc_p      hsc_p   degree_p    etest_p      mba_p         salary
mean     67.303395  66.333163  66.370186  72.100558  62.278186  288655.405405
median        67.0       65.0       66.0       71.0       62.0       265000.0
mode          62.0       63.0       65.0       60.0       56.7       300000.0
Q1:25%        60.6       60.9       61.0       60.0     57.945       240000.0
Q2:50%        67.0       65.0       66.0       71.0       62.0       265000.0
Q3:75%        75.7       73.0       72.0       83.5     66.255       300000.0
99%           87.0      91.86      83.86       97.0    76.1142            NaN
Q4:100%       89.4       97.7       91.0       98.0      77.89       940000.0